* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    background-image: url("../images/avengers.jpg");
    background-size:cover;
}

section {
    margin: auto;
    width: 900px;
    padding: 15px;
}
h1 {
    background-color: rgb(236, 29, 36);
    color: white;
    width: 350px;
    text-align: center;
    font-family: Marvel;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
}
#instructions {
    margin-top: 20px;
    color: rgb(240, 235, 243);
    background-color: rgba(117, 115, 115, 0);
    width: auto;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    height: 230px;
    font-size: 18px;
    font-family: Marvel; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    text-align: justify;
}
p {
    padding: 5px 0px 5px 0px;
}
#random-number {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #202020;
    width: 80px;
    height: 60px;
    margin-left: 20px;
    font-family: Marvel;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 8px 3.5%;
}
#wins-losses {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    background-color: #202020; 
    width: 100px;
    height: 60px;
    margin-left: 20px;
    font-family: Marvel;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 8px 1%;
   
}
#crystal-block {
    float: left;
    clear: left;
    margin-left: 10px;
    
}
#power, #reality, #soul, #time {
    float: left;
    width: 100px;
    height: 100px;
    background-color: transparent;
    padding: 0 0 0 0;
    margin: 10px 10px 10px 10px;
    border-color: #202020;
    cursor: pointer;
    outline: none;
    
}
img {
    width: 100px;
    height: 100px;
    background-color: transparent;
}
 #total-score {
    clear: left;
    background-color:#202020;
    padding-left: 5px;
    width: 200px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Marvel;
    margin-left: 20px;
 }
 #score {
    color: aliceblue;
    width: 280px;
    height: 150px;
    font-family: Marvel;
    font-size: 18px;
 }